.formulario {
    max-width: 80%;
    text-align: center;
}

body {
    text-align: -webkit-center;
    margin-top: 10%;
}

.form-control {
    width: unset;
    display: inline;
    margin-left: 10px;
}