<router-outlet></router-outlet>

<body>


    <form class="formulario" #form>

        <h2> CREAR FACTURA</h2>
        <label for="exampleInputPassword1" class="form-label">Cliente: </label>
        <select name="clientes" id="porr" class="form-select form-control">
          <option *ngFor="let cliente of clientes" [value]="cliente.idCliente" >{{cliente.nombre}}</option>
        </select>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fecha: </label>
            <input type="datetime" class="form-control" [value]="fecha">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Producto: </label>
            <select name="productos" id="productos" class="form-select form-control">
            <option *ngFor="let producto of productos" [value]="producto.idProducto" >{{producto.nombre}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary" (click)="saveFactura(form['value'])">Guardar</button>
    </form>
</body>